@charset "utf-8";
@import url("./reset.css");
/* 메인 폰트 - sarif */
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
/* 서브 폰트 - san-sarif */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* 슬라이드 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");
/* 일본어 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #93939328;
}

body {
  font-family: "Antic Didone", serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.background_cloud {
  height: 100lvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -10;
  animation-name: bg_start;
  animation-duration: 0.65s;
  animation-delay: 0.4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes bg_start {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: #fff;
  }
}

.container {
  width: 1360px;
  height: fit-content;
  margin: 10% auto;
}

/* 헤더 */
header {
  width: 100%;
  height: 60px;
  letter-spacing: -0px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.header_con {
  width: 94%;
  height: fit-content;
  margin: 46px auto;
  display: flex;
  justify-content: space-between;
}

.header_con > h1 {
  font-size: 29px;
  font-weight: 500;
}

#gnb > ul {
  display: flex;
  gap: 18px;
}

#gnb > ul > li {
  font-size: 26px;
}

/* 1번 섹션 메인비주얼_웹디자이너 */
.sec1_webdesigner {
  width: 100%;
  height: fit-content;
}

.sec1_wrap {
  width: fit-content;
  height: fit-content;
  margin: 0% auto;
}

/* 메인 텍스트 1번째 줄 */
.sec1_text_box_1 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.sec1_text_box_1 > h2 {
  align-items: end;
  display: flex;
}

.sec1_text_box_1 > h2 > span:nth-of-type(1) {
  width: fit-content;
  font-family: "Italiana", serif;
  font-size: 160px;
  display: block;
  letter-spacing: -9px;
}

.sec1_text_box_1 > h2 > span:nth-of-type(2) {
  width: fit-content;
  font-size: 180px;
  font-weight: 200;
  letter-spacing: -17px;
  display: block;
}

.sec1_text_box_1 > h2 > span:nth-of-type(3) {
  width: fit-content;
  font-size: 180px;
  font-weight: 200;
  letter-spacing: -9px;
}

.sec1_text_box_1 > h2 > span:nth-of-type(4) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 150px;
  font-weight: 200;
  letter-spacing: -9px;
}

.sec1_text_box_1 > h2 > span:nth-of-type(5) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 180px;
  font-weight: 200;
  letter-spacing: -9px;
}

.sec1_text_box_1 > div {
  width: fit-content;
  height: fit-content;
}

/* 메인 텍스트 2번째 줄 */
.sec1_text_box_2 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.sec1_text_box_2 > h2 > span:nth-of-type(1) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 180px;
  font-weight: 200;
  letter-spacing: -20px;
}

.sec1_text_box_2 > h2 > span:nth-of-type(2) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 170px;
  font-weight: 200;
  letter-spacing: -5px;
}

.sec1_text_box_2 > h2 > span:nth-of-type(3) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 155px;
  font-weight: 200;
  letter-spacing: -1px;
  margin-right: 20px;
}

.sec1_text_box_2 > h2 > span:nth-of-type(4) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 155px;
  font-weight: 200;
  letter-spacing: -12px;
}

.sec1_text_box_2 > h2 > span:nth-of-type(5) {
  width: fit-content;
  font-size: 155px;
  font-weight: 200;
  letter-spacing: -6px;
  font-weight: 200;
}

/* 메인 텍스트 3번째 줄 */
.sec1_text_box_3 {
  display: flex;
  align-items: center;
}

.sec1_text_box_3 > h2 > span:nth-of-type(1) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 170px;
  font-weight: 200;
  letter-spacing: -8px;
}

.sec1_text_box_3 > h2 > span:nth-of-type(2) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 170px;
  font-weight: 200;
  letter-spacing: 0px;
}
.sec1_text_box_3 > h2 > span:nth-of-type(3) {
  width: fit-content;
  font-size: 170px;
  font-weight: 200;
  letter-spacing: -8px;
  margin-right: 30px;
}
.sec1_text_box_3 > h2 > span:nth-of-type(4) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 170px;
  font-weight: 200;
  letter-spacing: -20px;
}
.sec1_text_box_3 > h2 > span:nth-of-type(5) {
  font-family: "Italiana", serif;
  width: fit-content;
  font-size: 160px;
  font-weight: 200;
  letter-spacing: -8px;
  margin-right: 40px;
}
.sec1_text_box_3 > p {
  line-height: 23px;
  letter-spacing: 0px;
  font-size: 17px;
}

/* 스크롤 더보기 영역 */
.sec1_scroll_text {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0.4rem;
}

.sec1_scroll_text > span {
  font-size: 27px;
  letter-spacing: -6px;
}

/* 스크롤 더보기 영역 애니메이션 적용 필요 */

/* 2번 섹션_프로젝트 */
.sec2_next_project {
  width: 100%;
  /* position: relative; */
  top: 450px;
  left: 0px;
  margin-top: 500px;
}

/* 섹션 2번 - 1번 박스 */
.sec2_box_wrap_1 {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: 250px;
}

.sec2_box_wrap_1 .sec2_img_box {
  width: 100%;
  height: 460px;
  overflow: hidden;
}

.sec2_box_wrap_1 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_1 .sec2_text_box {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: -36px;
  z-index: 1;
  text-align: center;
}

.sec2_box_wrap_1 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_1 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 2번 박스 */
.sec2_box_wrap_2 {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: -120px;
}

.sec2_box_wrap_2 .sec2_img_box {
  width: 816px;
  height: 450px;
  overflow: hidden;
}

.sec2_box_wrap_2 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_2 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_2 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_2 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 3번 박스 */
.sec2_box_wrap_3 {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 900px;
}

.sec2_box_wrap_3 .sec2_img_box {
  width: 453px;
  height: 270px;
  overflow: hidden;
}

.sec2_box_wrap_3 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_3 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -33px;
  left: 20px;
}

.sec2_box_wrap_3 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_3 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 4번 박스 */
.sec2_box_wrap_4 {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-bottom: 170px;
}

.sec2_box_wrap_4 .sec2_img_box {
  width: 453px;
  height: 260px;
  overflow: hidden;
}

.sec2_box_wrap_4 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_4 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_4 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_4 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 5번 박스 */
.sec2_box_wrap_5 {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 0px auto;
  margin-bottom: 220px;
}

.sec2_box_wrap_5 .sec2_img_box {
  width: 453px;
  height: 475px;
  overflow: hidden;
}

.sec2_box_wrap_5 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_5 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_5 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_5 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 6번 박스 */
.sec2_box_wrap_6 {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
  left: 140px;
}

.sec2_box_wrap_6 .sec2_img_box {
  width: 816px;
  height: 470px;
  overflow: hidden;
}

.sec2_box_wrap_6 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_6 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_6 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_6 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 7번 박스 */
.sec2_box_wrap_7 {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.sec2_box_wrap_7 .sec2_img_box {
  width: 453px;
  height: 260px;
  overflow: hidden;
}

.sec2_box_wrap_7 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_7 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_7 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_7 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 8번 박스 */
.sec2_box_wrap_8 {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
}

.sec2_box_wrap_8 .sec2_img_box {
  width: 453px;
  height: 260px;
  overflow: hidden;
}

.sec2_box_wrap_8 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_8 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_8 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_8 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 섹션 2번 - 9번 박스 */
.sec2_box_wrap_9 {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: -120px;
}

.sec2_box_wrap_9 .sec2_img_box {
  width: 816px;
  height: 450px;
  overflow: hidden;
}

.sec2_box_wrap_9 .sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_box_wrap_9 .sec2_text_box {
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 20px;
}

.sec2_box_wrap_9 .sec2_text_box h4 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sec2_box_wrap_9 .sec2_text_box p {
  font-family: "Lexend", serif;
  font-size: 13px;
}

/* 3번 섹션 - 텍스트 슬라이드 영역 */
.sec3_veiw_slide {
  width: 100%;
  height: fit-content;
  position: absolute;
  margin-top: 240px;
  left: 0px;
  overflow: hidden;
}

.sec3_text_all_wrap1,
.sec3_text_all_wrap2 {
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 90px;
  overflow: hidden;
}

.sec3_text_all_wrap1 {
  animation: sec3_slide_wrap1 55s linear infinite;
}

.sec3_text_wrap {
  width: 3000px;
  display: flex;
  gap: 50px;
  overflow: hidden;
}

@keyframes sec3_slide_wrap1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sec3_text_all_wrap2 {
  animation: sec3_slide_wrap2 70s linear reverse infinite;
}

@keyframes sec3_slide_wrap2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sec3_text_all_wrap2 .sec3_text_wrap {
  width: 2400px;
}

.sec3_text_wrap > p {
  width: fit-content;
  line-height: 150px;
  text-align: center;
  letter-spacing: -3px;
}

/* 슬라이드 윗줄 */
.sec3_text_all_wrap1 > .sec3_text_wrap > p:nth-of-type(1) {
  font-family: "Lexend", serif;
}
.sec3_text_all_wrap1 > .sec3_text_wrap > p:nth-of-type(2) {
  font-family: "Italiana", serif;
}
.sec3_text_all_wrap1 > .sec3_text_wrap > p:nth-of-type(3) {
  font-family: "Michroma", serif;
}

/* 슬라이드 아랫줄 */
.sec3_text_all_wrap2 > .sec3_text_wrap > p:nth-of-type(1) {
  font-family: "Titillium Web", serif;
}
.sec3_text_all_wrap2 > .sec3_text_wrap > p:nth-of-type(2) {
  font-family: "Source Serif 4", serif;
}
.sec3_text_all_wrap2 > .sec3_text_wrap > p:nth-of-type(3) {
  font-family: "Smooch Sans", serif;
}

/* 4번 섹션 - services */
.se4_services {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 900px;
  left: 0px;
}

.sec4_con {
  width: fit-content;
  height: 1000px;
  display: flex;
  position: relative;
}

.sec4_contants_wrap {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 1;
}

.heading_right {
  width: 100%;
  height: 2700px;
  position: relative;
  left: 450px;
}

.heading_right > div {
  width: 1052px;
  height: 657px;
  overflow: hidden;
  position: sticky;
  top: 200px;
}

.sec4_contants1 {
  margin-top: 50px;
}

.sec4_contants1,
.sec4_contants2,
.sec4_contants3 {
  width: fit-content;
  height: 962px;
}

.sec4_contants1 > h4 {
  font-size: 28px;
  margin-bottom: 80px;
}

.sec4_contants1 > h4 + p {
  font-size: 14px;
  font-family: "Lexend", serif;
  letter-spacing: 1.5px;
}

.sec4_contants1 > h2 {
  width: fit-content;
  font-size: 130px;
  letter-spacing: -9px;
  margin: 10px 0px;
  margin-bottom: 40px;
}

.sec4_contants1 > p:not(h4 + p) {
  font-size: 20px;
  margin-bottom: 10px;
}

.sec4_contants2 > p:nth-of-type(1) {
  font-size: 14px;
  font-family: "Lexend", serif;
  letter-spacing: 1.5px;
}

.sec4_contants2 > h2 {
  width: fit-content;
  font-size: 130px;
  letter-spacing: -9px;
  margin: 10px 0px;
  margin-bottom: 40px;
}

.sec4_contants2 > p:not(p:nth-of-type(1)) {
  font-size: 20px;
  margin-bottom: 10px;
}

.sec4_contants3 > p:nth-of-type(1) {
  font-size: 14px;
  font-family: "Lexend", serif;
  letter-spacing: 1.5px;
}

.sec4_contants3 > h2 {
  width: fit-content;
  font-size: 130px;
  letter-spacing: -9px;
  margin: 10px 0px;
  margin-bottom: 40px;
}

.sec4_contants3 > p:not(p:nth-of-type(1)) {
  font-size: 20px;
  margin-bottom: 10px;
}

/* 5번 섹션 - Junji Yamazaki */
.sec5_junji_yamazaki {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 2100px;
}

.sec5_con {
  width: 100%;
  height: fit-content;
}

.sec5_con > h2 {
  width: 100%;
  font-size: 230px;
  letter-spacing: -10px;
  line-height: 290px;
  text-align: center;
}

.sec5_con > h2 + p {
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: "Zen Kaku Gothic New", serif;
  margin-bottom: 150px;
}

.sec5_bottom_text_box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.sec5_left_text_box {
  width: 47.5%;
  font-family: "Zen Kaku Gothic New", serif;
  font-size: 21px;
}

.sec5_left_text_box > p {
  font-weight: 300;
  line-height: 43px;
  letter-spacing: -1px;
}

.sec5_left_text_box > p:first-child {
  margin-bottom: 20px;
}

.sec5_right_text_box {
  width: 47.5%;
}

.sec5_right_text_box > p {
  font-size: 21px;
  line-height: 43px;
  letter-spacing: -1px;
}

.sec5_right_text_box > p:first-child {
  margin-bottom: 20px;
}

.sec5_footer_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 80px;
  gap: 35px;
}

.sec5_footer_box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sec5_footer_box:nth-of-type(1) > div {
  width: 37.5px;
  height: 50px;
}

.sec5_footer_box:nth-of-type(2) > div {
  width: 157px;
  height: 24px;
}
.sec5_footer_box:nth-of-type(3) > div {
  width: 111px;
  height: 14px;
}

.sec5_footer_box > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 6번 섹션 - click_here */

.sec6_click_here {
  width: 100%;
  height: 300px;
  position: relative;
  top: 2600px;
  overflow: hidden;
}

.sec6_click_here > p {
  width: 100%;
  text-align: center;
  font-size: 26px;
}

.sec6_click_here > h2 {
  width: 100%;
  height: fit-content;
  position: absolute;
  left: -60px;
  font-size: 620px;
  line-height: 400px;
}

/* 푸터 */
.footer_box {
  position: relative;
  top: 2000px;
}

.footer_box > p {
  transform: rotate(90deg) translate(50%, 0);
  transform-origin: right;
  position: absolute;
  right: 15px;
  font-family: "Lexend", serif;
  font-weight: 100;
  font-size: 12px;
}
