@charset "utf-8";

/* 모바일 버전 */
@media screen and (max-width: 767px) {
}

/* 이외 기타 반응형 부분 수정 구역 */
@media screen and (max-width: 999px) {
  .container {
    margin-top: 40vw;
  }
  .sec2_box_wrap_2,
  .sec2_box_wrap_6,
  .sec2_box_wrap_9 {
    left: 0px;
  }
  .sec2_box_wrap_3 .sec2_img_box {
    height: clamp(130px, 10vw, 270px);
  }
  /* 섹션 3번 텍스트 애니메이션 영역 */
  .sec3_text_wrap {
    width: 1620px;
  }
  .sec3_text_all_wrap2 .sec3_text_wrap {
    width: 1280px;
  }
  .sec3_text_all_wrap1,
  .sec3_text_all_wrap2 {
    font-size: 50px;
  }
  .sec3_text_wrap > p {
    line-height: 80px;
  }
  .heading_right {
    left: 27vw;
  }
  .heading_right > div {
    width: clamp(500px, 60vw, 1052px);
    height: clamp(350px, 30vw, 657px);
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .container {
    margin-top: 30vw;
  }
  .sec2_box_wrap_2,
  .sec2_box_wrap_6,
  .sec2_box_wrap_9 {
    left: 0px;
  }
  .sec2_box_wrap_3 .sec2_img_box {
    height: clamp(130px, 15vw, 270px);
  }
  /* 섹션 3번 텍스트 애니메이션 영역 */
  .sec3_text_wrap {
    width: 2290px;
  }
  .sec3_text_all_wrap2 .sec3_text_wrap {
    width: 1795px;
  }
  .sec3_text_all_wrap1,
  .sec3_text_all_wrap2 {
    font-size: 70px;
  }
  .sec3_text_wrap > p {
    line-height: 100px;
  }
  .heading_right {
    left: 30vw;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1650px) {
  .sec2_box_wrap_2,
  .sec2_box_wrap_6,
  .sec2_box_wrap_9 {
    left: 0px;
  }
  .sec2_box_wrap_3 .sec2_img_box {
    height: clamp(130px, 15vw, 270px);
  }
  /* 섹션 3번 텍스트 애니메이션 영역 */
  .sec3_text_wrap {
    width: 2290px;
  }
  .sec3_text_all_wrap2 .sec3_text_wrap {
    width: 1795px;
  }
  .sec3_text_all_wrap1,
  .sec3_text_all_wrap2 {
    font-size: 70px;
  }
  .sec3_text_wrap > p {
    line-height: 100px;
  }
  .heading_right {
    left: 30vw;
  }
}
